.anuncio {
    display: flex;
    flex-direction: column;
    height: 100%;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.468));

}

.cuadro_imagen {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.cuadro_imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card_body {
    flex-grow: 1; /* Hace que el cuerpo de la tarjeta ocupe el espacio disponible */
    display: flex;
    flex-direction: column;
    padding: 10px;

}


.card_location {
    color: #5C7728;
}

.card_location {
    margin-bottom: 0px;
}

.card_description {
    margin-bottom: 7px;
}

.card_description {
    display: -webkit-box;
    /* Utiliza un contenedor flexible en WebKit para permitir el recorte de texto */
    -webkit-line-clamp: 3;
    /* Limita el texto a dos líneas */
    -webkit-box-orient: vertical;
    /* Orienta la caja flexible en vertical para que las líneas se apilen una encima de la otra */
    overflow: hidden;
    /* Oculta el contenido que se desborda fuera del contenedor */
    text-overflow: ellipsis;
    /* Añade puntos suspensivos (...) al final del texto que se corta */
    max-height: 4em;
    /* Ajusta la altura máxima para asegurar que solo dos líneas sean visibles */
    line-height: 1.3;
}

.card_buttons,
.icon_contacto {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: auto;
    font-size: 50px;
}

.boton_ver_mas {
    background-color: #B76C49;
    color: white;
    font-weight: 500;
}

.boton_ver_mas:hover {
    background-color: #9a593c !important;
    color: white !important;
}

.boton_ver_mas:active {
    background-color: #9a593c !important;
    color: white !important;
}


.boton_ver_mas:focus {
    background-color: #9a593c !important;
    color: white !important;
}