.container_profile {
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.538));
}

.container_img {
  width: 200px;
  height: 200px;
  border: 3px solid grey;
}

.image {
  width: 100%;
  height: 100%;
}

.fav_icon {
  top: 35px;
  right: 25px;
  cursor: pointer;
}

.fav_icon_red {
  top: 35px;
  right: 25px;
  cursor: pointer;
  background-color: red;
}

.btn_contact {
  background-color: #5c7728;
  border-color: #5c7728;
  color: white;
}

.btn_contact:hover {
  background-color: #3d4f1b;
  border-color: #3d4f1b;
  color: white;
}

.available {
  color: rgb(7, 173, 7);
  font-size: 1.2em;
  margin-right: 10px;
}

.not_available {
  color: rgb(223, 13, 13);
  font-size: 1.2em;
  margin-right: 10px;
}

.social_icons {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.social_icons:hover {
  cursor: pointer;
  color: #5c7728;
}

.hiddenButSpace {
  visibility: hidden; /* Oculta el elemento visualmente pero mantiene el espacio que ocupa */
}

.modal{
  z-index: 1900;
}

.boton_cerrar_modal{
  cursor: pointer;
  color: #f9faf6;
  background-color: #5c7728;
  font-weight: 600;
}

.icon_modal{
  font-size: 25px;
  color: #9a593c ;

}

.fs-5 {
  white-space: pre-wrap; /* Mantiene los saltos de línea y ajusta el texto */
  word-wrap: break-word; /* Corta palabras largas en el ancho disponible */
}
