.block_anuncio {
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.538));
}

.avatar {
    width: 200px;
    border: 1px solid grey;
    height: 200px;
    overflow: hidden;
}
  
.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.fav_icon {
    top: 35px;
    right: 25px;
    font-size: 2rem;
    cursor: pointer;
}


.btn_postularse {
    background-color: #5C7728;
    border-color: #5C7728;
    color: white;
}

.btn_postularse:hover {
    background-color: #3d4f1b;
    border-color: #3d4f1b;
    color: white;
}

.btn_cancel_postularse {
    background-color: #B76C49;
    color: white;
}

.btn_cancel_postularse:hover {
    background-color: #9a593c;
    color: white;
}

.pendiente {
    color: rgb(207, 145, 1);
    font-weight: normal;
}

.modal_edit{
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.538));
}

.status_ok{
    background-color: #5C7728;
}

.status_rejected{
    background-color: #B76C49;
}

.cancel{
    background-color: #B76C49;
    color: #fff; 
}

.cancel:hover{
    background-color: #905439  !important;
    color: #fff  !important; 
}


.cancel:active{
    background-color: #B76C49  !important;
    color: #fff  !important; 
}


.cancel:focus{
    background-color: #B76C49  !important;
    color: #fff !important; 
}


.contract{
    background-color: #5C7728;
    color: #fff;  
}

.contract:hover{
    background-color: #3b4d1a !important;
    color: #fff  !important;  
}

.contract:focus{
    background-color: #5C7728 !important;
    color: #fff !important;  
}

.contract:active{
    background-color: #5C7728 !important;
    color: #fff !important;  
}


.loader {
    width: 58px;
    height: 58px;
    margin-left: 25px;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }
  
    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 