.paginaContacto{
    background-color: #FFC9B3;
}

.formulario {
    background-color: white;
    filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.538));
    padding-bottom: 3%;
}



.contenedorForm{
    min-height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
}

@media (max-width: 576px) {
    .contenedorForm {
      flex-direction: column;
  }
}



.imagenDudas {
    height: 380px;
    width: 540px;
    filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.538));
    margin-left: 8%;
}



