.botonInicio{
    background-color: #B76C49 ;
    border: none;
}

.botonInicio:hover{
    background-color: #9a593c;
    color: white;
}

.botonInicio:focus{
    background-color: #9a593c;
    color: white;
}

.botonInicio:active{
    background-color: #9a593c !important;
    color: white;
}

.formulario{
    background-color: white;
    flex-wrap: nowrap;
    flex-direction: column;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.538));
    margin-bottom: 20px;
    align-items: center;
    margin-top: 20px;
}