.encabezado-contenedor {
    margin-top: 20px;
    background: linear-gradient(#FFC9B3, #E4E8F4);
}

.encabezado {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.img-container {
    width: 500px;
}

.imagen-encabezado {
    width: 100%;
    height: 100%;
    object-fit: cover; /* No distorsionar imagen */
    filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.538))

}

.boton-ubicacion,
.boton-disponibilidad,
.boton-fecha {
    background-color: #FFC9B3;
    color: #B76C49;
    width: 150px;
    margin: 5px;
    font-weight: 600;
}



.filtrado-contenedor
 {
    margin-top: 50px;
}

.tarjeta-contenedor{
    margin-top: 25px;
}

.icon-buscar {
    font-size: 30px;
    color: #B76C49;
    margin: 5px;

}

.lista-anuncios {
    display: grid;
    /*crear un contenedor de cuadrícula para orgenizar elementos en filas y columnas*/
    gap: 5px;
    /*define la separacion entre toda las filas y columnas*/
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /*repite tantas columnas como entren con un minimo 180px y máximo lo que de la página*/
}

.anuncio {
    box-sizing: border-box;

}

.card-img-top {
    width: 100%;
    vertical-align: top;

}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.card-title {
    color: #B76C49;
    font-size: 1em;
    text-align: left;
    font-weight: 700;
    width: 100%;
    white-space: nowrap;
    /*para gestionar el texto y que muestre todo en una misma fila*/
    text-overflow: ellipsis;
    /*Si el texto no cabe aparecen puntos suspensibos*/
    overflow: hidden;
    /*el contenido que no cabe en la caja lo esconde*/
}

.card-description {
    display: -webkit-box;
    /* Utiliza un contenedor flexible en WebKit para permitir el recorte de texto */
    -webkit-line-clamp: 2;
    /* Limita el texto a dos líneas */
    -webkit-box-orient: vertical;
    /* Orienta la caja flexible en vertical para que las líneas se apilen una encima de la otra */
    overflow: hidden;
    /* Oculta el contenido que se desborda fuera del contenedor */
    text-overflow: ellipsis;
    /* Añade puntos suspensivos (...) al final del texto que se corta */
    max-height: 3em;
    /* Ajusta la altura máxima para asegurar que solo dos líneas sean visibles */

}



.card-buttons,
.icon-contacto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    font-size: 50px;
}

.icon-contacto {
    color: #B76C49;
}

.boton-ver-mas {
    background-color: #5C7728;
    color: white;
}


.card {
    height: 100%;
    background-color: transparent;
    border-color: #FFC9B3;
}