
.header_container{
    margin-top: 20px;
    background-color:rgb(54, 53, 53);
  }

  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }

  .text_header{
    color: rgb(243, 240, 240);
  }

  .img_container {
    width: 400px;
  }

  .img_header{
    width: 100%; 
    height: 100%; 
    object-fit: cover; /* No distorsionar imagen */
    filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.538))
  }