.bloque_ver_faq{
    background-color: #B76C49;
}

.btn_ver_faq{
    background-color: #FFC9B3;
    border-color: #FFC9B3;
}

.btn_ver_faq:hover{
    background-color: #e2ad97;
    border-color: #e2ad97;
}