.cajonFormulario{
    padding-bottom: 10%;
    padding-top: 10%;
    
}

.colorLetra{
    color: black;
}


.botonInicio{
    background-color: #E4E8F4 ;
    filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.538));
    color: black;
    background-color: #B76C49;
}

.botonInicio:hover{
    background-color: #F8AE29;
}