.cajonFormulario {
    padding-bottom: 10%;
    padding-top: 10%;
    
}

.botonInicio{
    background-color: #B76C49 ;
    border: none;
}

.botonInicio:hover{
    background-color: #9a593c;
    color: white;
}