.logo{
    margin-right: 10px;
}

.navbar-left{
    margin-left: auto;
}

.nabvar-bg{
    background-color: #FFC9B3;
}

.login-button{
    background-color: #5C7728;
    border-color: #5C7728;
}

.login-button:hover{
    background-color: #3d4f1b;
    border-color: #3d4f1b;
}

.nav-link:hover {
    color: #B76C49 !important;
}

.btn-signup{
    background-color: #B76C49;
    color: white;
}

.btn-signup:hover{
    background-color: #9a593c;
    color: white;
}


.logo {
    width: clamp(3rem, 75%, 4.5rem);
    filter: drop-shadow(0 0 8px #ffffff96);
}

.custom-toggler .navbar-toggler-icon {
    filter: brightness(1) invert(0);
}
.navbar-toggler{
    border-color: #525252;
    padding: 3px 5px;

}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar{
    transition: padding 0.3s ease-in-out, background-color 0.3s ease-in-out, max-width 0.3s ease-in-out;
}

.offcanvas{
    background-color: #FFC9B3;
    width: 80% !important;
}


@media screen and (max-width: 575px){
    .logo{
        width: 3rem;
    }  
}

@media screen and (min-width: 1053px){
    .navbar-mobile{
        display:none !important; 
    }

}

@media screen and (max-width: 1053px){
    .nav-desktop{
        display:none !important; 
    }

}