.cajonFormulario {
    padding-bottom: 2%;
    /* padding-top: 10%; */
    
}

.botonGuardar{
    background-color: #B76C49;
    color: white;
}

.botonGuardar:hover{
    background-color: #9a593c;
    color: white;
}

/* Animación de entrada */
.alert_enter {
    opacity: 0;
    transform: translateY(-20px);
  }
  
  .alert_enter_active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
  
  /* Animación de salida */
  .alert_exit {
    opacity: 1;
    transform: translateY(0);
  }
  
  .alert_exit_active {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
  