.cajonFormulario {
    padding-bottom: 2%;
    /* padding-top: 10%; */
    
}

.botonGuardar{
    background-color: #B76C49 ;
    filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.538));
    margin-top: 5%;
}

.botonGuardar:hover{
    background-color: #5C7728;
}