.jumbotron {
    position: relative;
    background-image: url("https://plus.unsplash.com/premium_photo-1681996629585-88965b0d5c83?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white; /* Para asegurar que el texto sea visible sobre la capa de color */
}

.jumbotron::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(21, 21, 21, 0.85); /* Ajusta el color y la opacidad */
    z-index: 1;
}

.jumbotron_content_edit {
    position: relative;
    z-index: 2; /* Asegura que el contenido esté por encima de la capa de color */
    text-align: center; /* Centra el texto */
    padding: 2rem;
}


.buscador{
    background-color: #FFC9B3;
    width: fit-content;
}

.btn_buscador{
    background-color: #B76C49;
    border-color: #B76C49;
    color: white;
}

.btn_buscador:hover{
    background-color: #B76C49;
    border-color: #B76C49;
}

.btn_buscador:active{
    background-color: #B76C49;
    border-color: #B76C49;
}

.btn_buscador:focus{
    background-color: #B76C49;
    border-color: #B76C49;
}