.bd-placeholder-img{
    background-size: cover;
    background-position: center;
}

.bg-slider-1{
    background-image: url("https://images.pexels.com/photos/3768146/pexels-photo-3768146.jpeg");
}

.bg-slider-2{
    background-image: url("https://images.pexels.com/photos/10432232/pexels-photo-10432232.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}


.bg-slider-3{
    background-image: url("https://images.pexels.com/photos/3823542/pexels-photo-3823542.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

.carousel-item {
    height: 50vh; /* Deja que el elemento se ajuste al contenido */
}

.carousel-caption {
    padding-bottom: 2rem;
    position: absolute;
    top: 30%;
}

@media screen and (max-width: 500px){
    .carousel-caption {
        padding-bottom: 2rem;
        position: absolute;
        top: 5%;
    }
    .carousel-item{
        height: 85vh;
    }
    
}
